<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet" href="css/styles.css">
</head>


<body>

    <div class="box" id="heading">
    <h1><%=dateDisplay%> </h1>
    </div>

    <div class="box" id="">
        <% itemListDisplay.forEach(element => { %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="check" value="<%=element._id%>" onclick="this.form.submit()">
                <p> <%=element.name%> </p>
            </div>
        </form>
        <% }) %>

        <form class="item" action="/" method="post">
            <input type="text" name="itemAdded"  placeholder="New item" autocomplete="off">
            <button type="submit">+</button>   
        </form>
        
    </div>
        
</body>

</html>